# Boxing Simulation

## Patrick Maloney
### DATA604 Final Project

## Introduction

Boxing is one of the world's oldest professional sports, but it has been one of the slowest to be inoavted by analytics and data science applications that now proliferate other professional sports. In this project, I will attempt to build a simulation of the biggest match in history, Floyd Mayweather Jr. vs. Manny Pacquiao.  The match was one of the biggest financial events in the history of sports, netting each fighter nine-figure paydays for an evening's work, grossing over $600 million overall, and leading to a then-record of over $50 million dollars being wagered on the fights outcome.  I will attempt to use punch statistics from both fighters to simulate the fight with Python.


### Import libraries

In [2]:
import numpy
import pandas
import random
from modsim import *
%matplotlib inline
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'
# set the random number generator
np.random.seed(7)

### Build State objects for each fighter

I will be using the modsim library for its convenience in building simulations. I build a state object for each fighter, which will  store each of there metrics from the simulaiton.

In [3]:
mayweather = State(thrown = 0, landed = 0, kd = 0, score = 0)
pacquiao = State(thrown = 0, landed = 0, kd = 0, score = 0)

thrown    0
landed    0
kd        0
score     0
dtype: int64

### Time-step function
Now we need to create a time-step function that will simulate an instance in a round, so that we can later loop over to simulate an entire round. In this step function, we will use punch statistics to determine the probabilities that a punch will be thrown during a given moment, and whether that punch will land.

In [4]:
def step(system):
    """This function takes in a system argument 
    containing punch probabilities and increments
    the state objects for each fighter"""
    if flip(system.m_throw): #probability Mayweather throws a punch
        mayweather.thrown += 1 # increment Mayweather "thrown" stats
        print('may throw')
        if flip(system.m_land): #probability the thrown punch lands on Pacquiao
            mayweather.landed += 1 # increment Mayweather "landed" stats
            print('may land')

In [45]:
# We define a system of parameters that correspond with the probability that each fighter
# will throw and/or land a punch during any given second of a round
system = System(m_throw = 0.216666, m_land = 0.48, p_throw = 0.28, p_land = 0.3 )

m_throw    0.216666
m_land     0.480000
p_throw    0.280000
p_land     0.300000
dtype: float64

In [12]:
step(system)

may throw
may land

In [13]:
mayweather

thrown    2
landed    1
kd        0
score     0
dtype: int64

We see the function works as intended for a single fighter. Now let's add the second fighter to the mix, since boxing takes two to tango.

In [46]:
def step(system):
    """This function takes in a system argument 
    containing punch probabilities and increments
    the state objects for each fighter"""
    #Mayweather
    if flip(system.m_throw): #probability Mayweather throws a punch
        mayweather.thrown += 1 # increment Mayweather "thrown" stats
        print('may throw')
        if flip(system.m_land): #probability the thrown punch lands on Pacquiao
            mayweather.landed += 1 # increment Mayweather "landed" stats
            print('may land')
    #Pacquiao
    if flip(system.p_throw): #probability Pacquiao throws a punch
        pacquiao.thrown += 1 # increment Pacquiao "thrown" stats
        print('pac throw')
        if flip(system.p_land): #probability the thrown punch lands on Mayweather
            pacquiao.landed += 1 # increment Pacquiao "landed" stats
            print('pac land')

In [222]:
step(system)

may throw

In [223]:
mayweather

thrown    53
landed    23
kd         0
score      0
dtype: int64

In [224]:
pacquiao

thrown    56
landed    15
kd         0
score      0
dtype: int64

It worked as intended after I ran the cell multiple times. The next thing will need is a function that will initialize the state objects back to zero to make testing these functions easier.

In [226]:
def reset_stats(state):
    "Takes state object as argument and resets punch counts"
    state.thrown = 0
    state.landed = 0
    state.kd = 0
    state.score = 0

reset_stats(mayweather)
mayweather

thrown    0
landed    0
kd        0
score     0
dtype: int64

In [227]:
reset_stats(pacquiao)
pacquiao

thrown    0
landed    0
kd        0
score     0
dtype: int64